<section class='header'>
<div class="side-menu" id='menu'>
    <ul class='menu-content'>
        <li class='first'><a href=''>About</a></li>
        <li><a href=''>Resume</a></li>
        <li><a href=''>Work</a></li>
        <li class='last'><a href=''>Contact</a></li>
    </ul>
</div>

<div class='wrapper' id='content'>
    <div class='three-stripes' id='hamburger'>
        <span class='line1'></span>
        <span class='line2'></span>
        <span class='line3'></span>
      </div>
    <div class='logo-wrapper'>{% include logo/ktlogo.html%}</div>
</div>

<div class="container-hero-text">
  <div class='intro'>
    <h2>I  don't design sites.</h2>
    <h2>I manage projects.</h2>
    </div>
  <div class='last-line'>
    <div class='mouse'>
      <div class='wheel'></div>
      </div>
  </div>

</div>

</section>
