<section id='resume'>
  <div class='about-me'>
    <div id='info' class='col-1'>
      <h2>About me</h2>
      <div class='bar'></div>
      <p>Ken is a result-oriented marketing communications specialist with a heavy
        background in creative services, branding, and marketing plan development
        and execution. He has 4 years of experience developing promotional content,
        designing brand materials, and managing integrated direct and online marketing campaigns.
        He is capable of managing varied concurrent tasks and juggling multiple
        time-sensitive projects without missing a deadline. A tech savvy marketer,
        Ken is proficient in Adobe Creative Suite (Photoshop, Illustrator, InDesign),
        Social Media Marketing (Hootsuite, Sprout Social), Web Design (HTML, CSS,
        JavaScript, Wordpress), and data analytics tools.</p>
    </div>

    <div id='photo-icon' class='col-1'>
      <img src="/assets/img/Ken-icon.png" alt="ken-portrait" />
    </div>
</div>
</section>

<section id='experience'>

  <div class='experience'>
    <h2>Experience</h2>
  </div>

  <div id='timeline' class='cd-container'>
  <div class='timeline-block'>
    <div class='timeline-dot'></div>
    <div class='timeline-content'>
      <h2>Marketing Associate / Creative Services</h2>
      <ul>
        <li>- Develops SOQ packages including visual communications, responsive content,
        rules and forms for various clients.</li>
        <li>- Works collaboratively with the Creative Services team to conceptualize,
          execute, and produce collateral.</li>
        <li>- Plans and manages the company's digital marketing efforts.</li>
      </ul>
      <span class='company'><h2>AGS, Inc.</h2><p>San Francisco Bay Area</p><p>10/2014 - Present</p></span>
    </div>
  </div>

    <div class='timeline-block'>
        <div class='timeline-dot'></div>
        <div class="timeline-content">
          <h2>Temporary Project Coordinator</h2>
          <ul>
            <li>- Responsible for a market expansion project at a global semiconductor fabrication company.</li>
            <li>- Worked directly with the Sales and Marketing Director and associated teams to modernize collateral. </li>
            <li>- Assisted the Project Manager in creating a well-organized document filing system.</li>
          </ul>
          <span class='company'><h2>Universal Semiconductor Technology, Inc.</h2><p>San Francisco Bay Area</p><p>05/2014 - 08/2014</p></span>
    			</div>
    		</div>

    <div class='timeline-block'>
        <div class='timeline-dot'></div>
        <div class="timeline-content">
          <h2>Marketing Administrative Assistant</h2>
          <ul>
            <li>- Managed the general office maintenance and organization of the firm.</li>
            <li>- Supported the Marketing Manager in the execution of marketing efforts.</li>
            <li>- Assisted clients with their inquiries and questions.</li>
          </ul>
          <span class='company'><h2>B.O.L. Global, Inc.</h2><p>San Francisco Bay Area</p><p>02/2013 - 04/2014</p></span>
    			</div>
    		</div>

    <div class='timeline-block'>
        <div class='timeline-dot'></div>
        <div class="timeline-content">
          <h2>Marketing Assistant</h2>
          <ul>
            <li>- Collaborated with the marketing consultants to execute the marketing
              strategy and manage the launch of Blue Sapphire Resort, a flagship product of Cotec in 2010.</li>
            <li>- Developed integrated marketing communications plans for the national project launches.</li>
            <li>- Acted as the essential liaison between the company and third-party vendors.</li>
            <li>- Recognized and awarded for successfully managing the first 2 launches that helped exceed sales goals.</li>
            <li>- Achieved “Employee of the year”award.</li>
            <li>- Reduced the marketing costs by 10 percent or more by leveraging graphic design experience.</li>
          </ul>
          <span class='company'><h2>Cotec Group</h2><p>A leading real estate group in Vietnam</p><p>06/2010 - 08/2011</span>
    			</div>
    		</div>
  </div>
</section>

<section class="education">
  <div class='information'>
  <h2>Education</h2>
  <div class='bar'></div>
  <ul>
  <li>Webster University | Saint Louis, Missouri, USA (12/2012)</li>
  <li>Bachelor's degree in Business Management with a Marketing emphasis</li>
  <li>GPA: 3.91/ 4.0 | Dean’s list all semesters</li>
  </ul>
</div>
</section>
